/header for all pages
meta charset='UTF-8'
link rel='stylesheet' href='/lib/bower/bootstrap/dist/css/bootstrap.min.css'
link rel='stylesheet' href='/css/all.css'
script src='/lib/bower/jQuery/dist/jquery.min.js'
script src='/lib/bower/underscore/underscore-min.js'
script src='/lib/bower/backbone/backbone-min.js'
script src='/lib/bower/backbone.localStorage/backbone.localStorage-min.js'
